{{#extends 'base'}}

{{#block 'content'}}
<form method="GET">
    {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>
</form>
<div class="d-flex justify-content-end mb-3">
  <a href="/luggages/create" class="btn btn-primary">Add Luggage</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Material</th>
            <th>Types</th>
            <th>Cost</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each luggages}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                <img src="{{this.thumbnail_url}}" alt='Luggage thumbnail image'/>
            </td>
            <td>
                {{this.brand.brand}}
            </td>
            <td>
                {{this.model}}
            </td>
            <td>
                {{this.material.material}}
            </td>
            <td>
                {{#each this.types}}
                <span class='badge rounded-pill bg-primary'>{{this.type}}</span>
                {{/each}}
            </td>
            <td>
                ${{divide this.cost 100}}
            </td>
            <td>
                {{this.description}}
            </td>
              <td>
                <a href="/luggages/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/luggages/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                <a href="/luggages/{{this.id}}/variants/create" class="btn btn-primary btn-sm">Add Variant</a>
                <a href="/luggages/{{this.id}}/variants" class="btn btn-primary btn-sm">View Variants</a>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}