{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid">
    <div class="container content-container">
        <div class="h-100 p-3 d-flex flex-column justify-content-center">
            <h3>Deleting Variant</h3>
            <div>
                <p>Are you sure you want to delete the following variant?</p>
                <div class="alert alert-secondary">
                    <p>Color: {{variant.color.color}}</p>
                    <p>Dimension: {{variant.dimension.dimension}}</p>
                    <p>Stock: {{variant.stock}}</p>
                </div>
                <p>This action is irreversible.</p>
                <form method="POST">
                     <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    <div class="custom-btn-group">
                        <a href="/luggages/{{variant.luggage_id}}/variants"
                            class="login-button btn-sm btn-dark btn-outline-light">Cancel</a>
                        <input type="submit" value="Delete Luggage" class="login-button btn-sm btn-dark btn-outline-light">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{/extends}}